@charset "utf-8";
/* CSS DOCUMENT */

body {
    background-color: #FFFFEE;
    font-family: "MS PGothic", "Verdana", sans-serif;
    font-size: 10pt;
}

.post {
    margin: 4px 0;
    overflow: hidden;
}

.postInfo {
    display: block;
}

.name {
    color: #117743;
    font-weight: bold;
}

.dateTime {
    color: #000000;
}

.postNum {
    color: #000000;
}

.subject {
    color: #0F0C5D;
    font-weight: bold;
}

blockquote {
    margin: 1em 1em 1em 2em;
    padding: 0;
    color: #000000;
}

/* green text */
.quote {
    color: #789922;
}

/* reply link */
.quotelink {
    color: #DD0000;
    text-decoration: none;
}

.quotelink:hover {
    text-decoration: underline;
}