@charset "utf-8";
/* CSS DOCUMENT */

html, html * {
	
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: palegreen;
}

img {
	width:100%;
	max-width:100%;
	height:auto;
	vertical-align:middle; 
}

a {
	text-decoration: none;
}

.style-logo {
	width:80px;
	margin-left:auto;
	margin-right:auto;
	display:block;	
}

.style-nav1 ul {
	list-style-type:none;
}	

.style-nav1 ul li a {
	text-decoration:none;
	color:white;
	text-align:center;
	font-weight:bold;
	padding:10px;
	display:block;
}

.style-nav2 ul {
	list-style-type:none;
}	

.style-nav2 ul li a {
	text-decoration:none;
	color:white;
	text-align:center;
	font-weight:bold;
	padding:10px;
	display:block;
	font-kerning:400px; 
}
	
.row:before, row:after {
	content:"";
	display:table;
}
	
.row: after {
	clear:both;
}
	
.row1 {
	background-image: url("images/pig_cover_fix.jpg");
	background-size: cover;
	padding: 20px; 50px; 20px;
	color:white;
	text-shadow: 2px 2px darkred;
	text-align: center;
	margin-top:20px;
}

.row2 {
	background-color:goldenrod;
	padding:15px;
	border-width:4px;
	border-bottom-color:darkred;
	border-style:solid;
	border-radius:50px;
	margin-top:15px;
	margin-bottom:15px;
}

.button-sp {
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	border-color:green;
	background-color:green;
	border-width:2px;
	border-style: solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:green;
	text-decoration:none;
}

.button-am {
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	border-color:lightpink;
	background-color:lightpink;
	border-width:2px;
	border-style: solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:lightpink;
	text-decoration:none;
}

.button-bc {
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	border-color:cadetblue;
	background-color:cadetblue;
	border-width:2px;
	border-style: solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:cadetblue;
	text-decoration:none;
}

.button-sc {
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	border-color:darkorange;
	background-color:darkorange;
	border-width:2px;
	border-style: solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:darkorange;
	text-decoration:none;
}

.button-ig {
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	border-color:deeppink;
	background-color:deeppink;
	border-width:2px;
	border-style: solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:deeppink;
	text-decoration:none;
}

.button-tt {
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	border-color:dimgray;
	background-color:dimgray;
	border-width:2px;
	border-style: solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:dimgray;
	text-decoration:none;
	margin-bottom:10px;
}

.button-hf {
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	border-color:forestgreen;
	background-color:forestgreen;
	border-width:2px;
	border-style: solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:saddlebrown;
	text-decoration:none;
	margin-bottom:10px;
}
	
h1 {
	font-size: 60px;
	text-transform: uppercase;
	font-weight:200;
	margin-bottom: 120px;
}
	
h3 {
	font-size: 35px;
	margin-bottom: 10px;
}
	
h4 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align:center;
	color:royalblue;
	text-decoration:none;
}

h5 {
	font-size:70px;
	font-weight:bold;
	text-align:left;
	color: mediumpurple;
}

h6 {
	font-size: 25px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}

h7 {
	text-align:left;
	font-size: 30px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
	color:white;
	padding:10px;
}
	
.info-box-green {
	background-color:rebeccapurple;
	color:#FFFFFF;
	padding: 30px; 20px; 60px;
	text-align: center;
}

.info-box-red {
	background-color:coral;
	color:#FFFFFF;
	padding: 30px; 20px; 60px;
	text-align: center;
}

.footer {
	width:100%;
	padding: 8px;
	font-size:16px;
	font-style:italic;
}

.col {
	width:100%;
}

.col-tab-one-half {
	width:50%;
	padding: 10px; 5px; 10px;
}
.col {
	float:left;
}

	/*For Tablet*/
@media screen and (min-width: 768px) 
{
	.style-nav1 ul li {
		display:inline-block;
	}
	.style-nav1 ul {
		text-align:center;
	}
	.style-nav2 ul li {
		display:inline-block;
	}
	.style-nav2 ul {
		text-align:center;
	}
	.col-tab-one-half {
		width:50%;
		padding: 10px; 5px; 10px;
	}
	.col {
		float:left;
	}
	h1 {
		font-size:80px;
		margin-bottom:90px;
	}
	h5 {
		font-size:80px;
		margin-bottom:5px;
	}
	body {
		max-width:778px;
	}
}

	/*For Desktop*/
@media screen and (min-width: 1024px) 
{
	h1 {
		font-size:100px;
		margin-bottom:50px;
	}
	h5 {
		font-size:100px;
		margin-bottom:50px;
	}
	.style-nav1 {
		float:right;
		vertical-align:bottom;
	}
	.style-nav2 {
		float:right;
		vertical-align:bottom;
	}
	.style-logo {
		float:left;
	}
	.col-dt-one-frth {
		width:50%;
	}
	.row2 {
		height:300px;
	}
	body {
		max-width:1024px;
	}
}